{% extends "ediary/default/base.html" %}

{% load i18n markup %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block title %}{{ article.title }} | {{ TITLE }}{% endblock %}

{% block content %}
  <article>
    <header>
      <time datetime="{{ article.published|date:"Y-m-d" }}">{{ article.published|date:"F d, Y" }}</time>
      <h2>
        <a class="light" href="{{ article.category.get_absolute_url }}">{{ article.category.title }}</a>
          &rarr;
        <a class="dark" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      </h2>

      <div class="tags">
        {% for tag in article.tags %}
          {% if CURRENT_LANGUAGE = DEFAULT_LANGUAGE %}
              <a href="{% url ediary-tag tag %}">{{ tag }}</a>
          {% else %}
              <a href="{% url ediary-tag tag CURRENT_LANGUAGE %}">{{ tag }}</a>
          {% endif %}
          {% if not forloop.last %} / {% endif %}
        {% endfor %}
      </div>

      {% if article.get_available_languages|length > 1 %}
      <div class="other_languages">
        {% trans "Other languages: " %}
        {% for language in article.get_available_languages %}
          {% if language != CURRENT_LANGUAGE %}
            {% with article.published as p %}
              {% if language == DEFAULT_LANGUAGE %}
                {% url ediary-article p|date:'Y' p|date:'m' p|date:'d' article.slug as article_url %}
              {% else %}
                {% url ediary-article p|date:'Y' p|date:'m' p|date:'d' article.slug language as article_url %}
              {% endif %}
            {% get_language_info for language as language_info %}
            <a href="{{ article_url }}">{{ language_info.name_local }}</a>
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

    </header>

    <div class="content">
      {{ article.text|restructuredtext }}
    </div>
  </article>

  {% load comments %}
  {% get_comment_count for article as comment_count %}
  {% get_comment_list for article as comment_list %}

  <section id="comments">
  <span class="section-title">{% trans "Comments" %} ({{ comment_count }}):</span>
    {% render_comment_list for article %}
    {% if article.allow_comments %}
      {% render_comment_form for article %}
    {% endif %}
  </section>
{% endblock %}
