{% load i18n %}

{# create internatialize links #}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as LANGUAGES %}

{% url ediary-index CURRENT_LANGUAGE as BLOGURL %}
{% url ediary-feed CURRENT_LANGUAGE as FEEDURL %}

{% if CURRENT_LANGUAGE = DEFAULT_LANGUAGE %}
    {% url ediary-index as BLOGURL %}
    {% url ediary-feed as FEEDURL %}
{% endif %}
{# /create internatialize links #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="{{ STATIC_URL }}ediary/styles/{{ STYLE }}/style.css" rel="stylesheet">
    <link href="{{ FEEDURL }}" rel="alternate" title="{{ TITLE }} feed" type="application/rss+xml">

    <!--[if lte IE 8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- highlight.js -->
    <script src="{{ STATIC_URL }}ediary/highlight.js/highlight.pack.js"></script>
    <script>
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad();
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}ediary/highlight.js/styles/vs.css">
    <!-- /highlight.js -->
  </head>

  <body>

    <!-- header -->
    <div class="header-wrapper">
    <header id="header">
      <img class="logo" src="{{ STATIC_URL }}ediary/logo.png" alt="logo">
      <h1><a href="{{ BLOGURL }}">{{ TITLE }}</a></h1>
      <span class="description">{{ SUBTITLE }}</span>

      <nav>
        <a class="rss" href="{{ FEEDURL }}"></a>
        {% for item in navigation_links %}
        <a href="{{ item.url }}" title="{{ item.description }}">{{ item.title }}</a>
        {% endfor %}
      </nav>

      <div class="available_languages">
        {% for code, name in LANGUAGES %}
        {% if code = DEFAULT_LANGUAGE %}
        <a href="{% url ediary-index %}">{{ name }}</a>
        {% else %}
        <a href="{% url ediary-index code %}">{{ name }}</a>
        {% endif %}
        {% endfor %}
      </div>

    </header>
    </div>

    <!-- main section -->
    <div id="main">
      <!-- main article -->
      <div class="article-wrapper">
      {% block content %}
      {% endblock %}
      </div>

      <!-- sidebar -->
      <aside>
        {% if categories %}
        <section class="widget categories">
          <header>{% trans "Categories" %}</header>
          <div class="content">
            <ul>
              {% for category in categories %}
              <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
              {% endfor %}
            </ul>
          </div>
        </section>
        {% endif %}
      </aside>
    </div>

    <!-- footer -->
    <div class="footer-wrapper">
    <footer id="footer">
      <span>&copy; {% now "Y" %} <a href="{{ COPYRIGHT_URL }}">{{ COPYRIGHT }}</a></span> <br>
      Powered by <a href="http://github.com/ikalnitsky/ediary">eDiary</a>
    </footer>
    </div>
  </body>
</html>
